.sukariBgd {
  background-color: black;
  color: white;
}

.sukariFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sukariItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sukariSection {
  padding: 5vh 0;
}

.sukariTitle {
  font-size: 180%;
  font-weight: 500;
}

.sukariSubtitle {
  font-size: 120%;
}

.sukariPara {
  padding: 5% 0;
  font-size: 110%;
}

.sukariCaption {
  margin-top: 1vh;
  font-style: italic;
}

.sukariDetails {
  margin-bottom: 5%;
}

.sukariShare {
  border-color: #be8e3c;
  background-color: #be8e3c;
}

.sukariMaps {
  color: #be8e3c;
}

.copy {
  font-size: 70%;
  margin-top: 5vh;
  margin-bottom: 2vh;
}
