@font-face {
  font-family: normal;
  src: url(/fonts/helvetica.ttf);
}

@font-face {
  font-family: light;
  src: url(/fonts/helvetica-light.ttf);
}

.sukariLang {
  color: #be8e3c;
  width: inherit;
  font-family: normal;
  font-size: 60%;
  letter-spacing: 0.5vw;
  padding: 5% 0;
}

.sukariLang:hover {
  color: #be8e3c;
}

.sukariLang:visited {
  color: #be8e3c;
}

.sukariBorder {
  border-style: solid;
  border-width: 1px;
  border-color: #be8e3c;
}

.sukariBgd {
  background-color: black;
  color: white;
}

.sukariFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sukariItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sukariSection {
  padding: 5vh 0;
}

.sukariTitle {
  font-family: normal;
  font-size: 180%;
  font-weight: 500;
  letter-spacing: 1vw;
  padding-bottom: 8%;
}

.sukariSubtitle {
  font-family: light;
  font-size: 90%;
  letter-spacing: 0.8vw;
  padding-top: 3%;
}

.sukariPara {
  font-family: normal;
  letter-spacing: 0.5vw;
  font-size: 100%;
  padding: 5% 0;
}

.sukariCaption {
  margin-top: 1vh;
  font-style: italic;
}

.sukariDetails {
  margin-bottom: 5%;
}

.sukariShare {
  border-color: #be8e3c;
  background-color: #be8e3c;
}

.sukariMaps {
  color: #be8e3c;
}

.copy {
  font-size: 70%;
  margin-top: 5vh;
  margin-bottom: 2vh;
}
